.ConfirmationPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#ListHeader {
  padding: 0%;
}

.ConfirmationTables {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/* .ConfirmationTables * {
  border-color: red;
} */

#ConfirmationList {
  padding: 0%;
  overflow-y: auto;
  width: 40vw;
  height: 55vh;
  border-width: 5vw;
}

#locationConfTable {
  margin-right: 1vw;
}

#indicatorConfTable {
  margin-left: 1vw;
}

#ConfirmationForm {
  margin-top: 2vh;
}
