.ProgressInfo {
  width: 80vw;
}

#ProgressBar {
  width: auto;
  height: 3vh;
  margin-left: auto;
  margin-right: auto;
}

#ProgressDialog {
  width: auto;
  height: 3vh;
  margin-left: auto;
  margin-right: auto;
}
