.ProgressInfo {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#ProgressBar {
  width: 80vw;
  height: 3vh;
}

#ProgressDialog {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 3vh;
  margin-top: 2vh;
}
