.LocationPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.LocationTables {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 1vw;
}

.LocationLevelButtons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  line-height: 5vh;
}

#SelectorList {
  padding: 0%;
  overflow-y: auto;
  width: 40vh;
  height: 60vh;
}

#SelectionList {
  padding: 0%;
  overflow-y: auto;
  width: 40vh;
  height: 60vh;
}

.LocationTableButtons {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#AddLocationButtton,
#RemoveLocationButtton {
  margin: 1vw;
}

#ResetStateButton {
  float: right;
}

#SelectorHeader {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
